{% extends "index.html" %}
{% block content %}

<h1 style="margin: 15px">Records</h1>

<form id="list-cep" class="form-horizontal" role="form" method="post" action="/records">
    <div class="panel panel-default">
        <div class="panel-heading">
            CEP List
        </div>
        <div class="panel-body table-responsive">
            <input style="float: left;" type="submit" class="btn btn-danger" name="delete_cep" value="Delete">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1 legend_table"></th>
                    <th class="col-md-2 legend_table">Public Place</th>
                    <th class="col-md-2 legend_table">Neighborhood</th>
                    <th class="col-md-2 legend_table">City</th>
                    <th class="col-md-2 legend_table">State</th>
                    <th class="col-md-2 legend_table">CEP</th>
                </tr>
                </thead>
                <tbody>
                {% for cep in ceps %}
                <tr>
                    <td><input type="checkbox" name="cep_id" value="{{cep.key().id()}}"></td>
                    <td>{{ cep.public_place }}</td>
                    <td>{{ cep.neighborhood }}</td>
                    <td>{{ cep.city }}</td>
                    <td>{{ cep.istate }}</td>
                    <td>{{ cep.zip_code }}</td>
                    <!-- get numeric ID of entity key -->
                    <!--td><a href="/edit?id={{cep.key().id()}}">Edit</a></td-->
                </tr>
                {% else %}
                <tr>
                    <td colspan="9">No record Found</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>


{% endblock content %}